<p id="notice"><%= notice %></p>

<h1>Clubs</h1>

<table>
    <tbody>
        <% @clubs.each do |club| %>
        <tr>
            <td><%= link_to club.name, club %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>
<%= link_to "<button>Create a club</button>".html_safe, new_club_path %>